--- 
 - name: "Make backend directory" 
   become: true 
   command: mkdir backend 
  
 - name: "Unarchive backend files"
  become: true
  unarchive:
    src: artifact.tar.gz
    dest: ~/backend-app 
  
 - name: "Unzip files as backend folder" 
   command: tar -xzf artifact.tar.gz 
   become: true 
   args: 
     chdir: /home/ubuntu/backend 
  
 - name: "Install dependencies" 
   command: npm install 
   become: true 
   args: 
     chdir: /home/ubuntu/backend 
  
 - name: "Run the app with PM2" 
   command: pm2 start npm -- start 
   args: 
     chdir: /home/ubuntu/backend
