/***********************
* Pre-loader
***********************/
#pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; 
}
#pre-loader .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  z-index: 1000;
  background-color: var(--thm-black);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); 
}
  #pre-loader .loader-section.section-left {
    left: 0; 
}
  #pre-loader .loader-section.section-right {
    right: 0; 
}
#loader-logo {
  display: block;
  position: relative;
  left: calc(50% - 20em/2);
  top: 15%;
  width: 20em;
  height: 9.375em;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("http://imgh.us/loading_4.svg");
  z-index: 1001; }
#loader-circle {
  display: block;
  position: relative;
  left: 50%;
  top: 35%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}
  #loader-circle:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:var(--thm-gray);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite; 
}
  #loader-circle:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:var(--thm-primary);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite; 
}
.loaded #pre-loader .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); 
}
.loaded #pre-loader .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); 
}
.loaded #loader-logo,
.loaded #loader-circle {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; 
}
.loaded #pre-loader {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }
.no-js #pre-loader {
  display: none;
}